@font-face {
  font-family: 'codewars-langs';
  src: url('../fonts/codewars-langs.woff?4jsgo') format('woff'),
       url('../fonts/codewars-langs.ttf?4jsgo')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-lang-"], [class*=" icon-lang-"] {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'codewars-langs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering ===========
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lang-c:before {
  content: "\e612";
}
.icon-lang-clojure:before {
  content: "\e60f";
}
.icon-lang-coffeescript:before {
  content: "\e075";
}
.icon-lang-cpp:before {
  content: "\e613";
}
.icon-lang-crystal:before {
  content: "\e90c";
}
.icon-lang-csharp:before {
  content: "\e611";
}
.icon-lang-d:before {
  content: "\e63e";
}
.icon-lang-dart:before {
  content: "\e906";
}
.icon-lang-elixir:before {
  content: "\e905";
}
.icon-lang-erlang:before {
  content: "\e61b";
}
.icon-lang-fsharp:before {
  content: "\e63f";
}
.icon-lang-go:before {
  content: "\e91b";
}
.icon-lang-groovy:before {
  content: "\e610";
}
.icon-lang-haskell:before {
  content: "\e619";
}
.icon-lang-java:before {
  content: "\e615";
}
.icon-lang-javascript:before {
  content: "\e640";
}
.icon-lang-lisp:before {
  content: "\e617";
}
.icon-lang-lua:before {
  content: "\e616";
}
.icon-lang-objc:before {
  content: "\e614";
}
.icon-lang-ocaml:before {
  content: "\e63d";
}
.icon-lang-perl:before {
  content: "\e61c";
}
.icon-lang-php:before {
  content: "\e60e";
}
.icon-lang-python:before {
  content: "\e06f";
}
.icon-lang-r:before {
  content: "\e601";
}
.icon-lang-racket:before {
  content: "\e646";
}
.icon-lang-ruby:before {
  content: "\e06e";
}
.icon-lang-rust:before {
  content: "\e639";
}
.icon-lang-scala:before {
  content: "\e618";
}
.icon-lang-shell:before {
  content: "\e63c";
}
.icon-lang-sql:before {
  content: "\e90d";
}
.icon-lang-swift:before {
  content: "\e632";
}
.icon-lang-typescript:before {
  content: "\e641";
}
