body {
  font-family: 'Lato', sans-serif;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  height: 100vh;
  background-color: #303133;
  color: #bebebe;
}

h1,h2,h3,h4 {
  color: #c9c9c9;
}

code {
  font-family: 'CamingoCode', monospace;
  background-color: #242426;
  font-size: 86%;
  border-radius: .2rem;
  margin: 0 .1rem;
  padding: .1rem .2rem;
  white-space: nowrap;
}

pre > code {
  border-radius: 0;
  display: block;
  padding: 1rem 0.5rem;
  overflow-x: scroll;
  white-space: pre;
}

a {
  color: #d3d3d3;
  background-color: transparent;
  outline: 0;
  text-decoration: none;
}
