// Base16 Default Dark by Chris Kempson (http://chriskempson.com)
// Based on [pygments stylesheet](https://github.com/idleberg/base16-pygments) by Jan T. Sott.
// Updated colors to match the latest [base16-vim](https://github.com/chriskempson/base16-vim).
// http://chriskempson.com/projects/base16/
// https://github.com/jneen/rouge/wiki/List-of-tokens

$base00: #181818; // Default Background
$base01: #282828; // Lighter Background
$base02: #383838; // Selection Background
$base03: #585858; // Comments, Invisibles, Line Highlighting
$base04: #b8b8b8; // Dark Foreground
$base05: #d8d8d8; // Default Foreground, Caret, Delimiters, Operators
$base06: #e8e8e8; // Light Foreground (Not often used)
$base07: #f8f8f8; // Light Background (Not often used)
$base08: #ab4642; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base09: #dc9656; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base0A: #f7ca88; // Classes, Markup Bold, Search Text Background
$base0B: #a1b56c; // Strings, Inherited Class, Markup Code, Diff Inserted
$base0C: #86c1b9; // Support, Regular Expressions, Escape Characters, Markup Quotes
$base0D: #7cafc2; // Functions, Methods, Attribute IDs, Headings
$base0E: #ba8baf; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base0F: #a16946; // Deprecated, Opening/Closing Embedded Language Tags

.highlight {
  // background: $base00;
  color: $base07;
}

.highlighter-rouge .highlight {
  background: $base02;
}

.highlight {
  .err { color: $base08; } // Error
}

.highlight {
  .p  { color: $base07; } // Punctuation
}

.highlight {
  .c  { color: $base03; font-style: italic; } // Comment
  .cm { color: $base03; font-style: italic; } // Comment.Multiline
  .c1 { color: $base03; font-style: italic; } // Comment.Single
  .cs { color: $base03; font-style: italic; font-weight: bold; } // Comment.Special
  .cp { color: $base03; font-weight: bold; } // Comment.Preproc
}

.highlight {
  .g  { }                                   // Generic
  .gd { color: $base08; }                   // Generic.Deleted
  .ge { font-style: italic; }               // Generic.Emph
  .gh { color: $base07; font-weight: bold } // Generic.Heading
  .gi { color: $base0B; }                   // Generic.Inserted
  .gp { color: $base03; font-weight: bold } // Generic.Prompt
  .go { }                                   // Generic.Output
  .gs { font-weight: bold }                 // Generic.Strong
  .gu { color: $base0C; font-weight: bold } // Generic.Subheading
  .gt { }                                   // Generic.Traceback
  .gl { }                                   // Generic.Lineno
}

.highlight {
  .k  { color: $base0E; } // Keyword
  .kc { color: $base0E; } // Keyword.Constant
  .kd { color: $base0E; } // Keyword.Declaration; e.g., var
  .kp { color: $base0E; } // Keyword.Pseudo
  .kr { color: $base0E; } // Keyword.Reserved
  .kt { color: $base0A; } // Keyword.Type
  .kn { color: $base0C; } // Keyword.Namespace
}

.highlight {
  .n  { color: $base07; } // Name
  .nb { color: $base07; } // Name.Builtin
  .bp { color: $base07; } // Name.Builtin.Pseudo
  .nc { color: $base0A; font-weight: bold; } // Name.Class
  .no { color: $base08; font-weight: bold; } // Name.Constant
  .ne { color: $base08; font-weight: bold; } // Name.Exception
  .nd { color: $base0C; } // Name.Decorator
  .nt { color: $base0C; } // Name.Tag
  .ni { color: $base07; } // Name.Entity
  .nl { color: $base07; } // Name.Label
  .nf { color: $base0D; font-weight: bold; } // Name.Function
  .nn { color: $base0A; } // Name.Namespace
  .na { color: $base0D; } // Name.Attribute
  .nx { color: $base0D; } // Name.Other
  .py { color: $base07; } // Name.Property

  .nv { color: $base08; } // Name.Variable
  .vc { color: $base08; } // Name.Variable.Class
  .vg { color: $base08; } // Name.Variable.Global
  .vi { color: $base08; } // Name.Variable.Instance
}

.highlight {
  .o  { color: $base0C; } // Operator
  .ow { color: $base0C; font-weight: bold; } // Operator.Word
}

.highlight {
  .w  { color: $base07; } // Text.Whitespace
}

.highlight {
  .l  { color: $base09; } // Literal

  .m  { color: $base09; } // Literal.Number
  .mf { color: $base09; } // Literal.Number.Float
  .mh { color: $base09; } // Literal.Number.Hex
  .mi { color: $base09; } // Literal.Number.Integer
  .il { color: $base09; } // Literal.Number.Integer.Long
  .mo { color: $base09; } // Literal.Number.Oct

  .ld { color: $base0B; } // Literal.Date

  .s  { color: $base0B; } // Literal.String
  .sb { color: $base0B; } // Literal.String.Backtick
  .s2 { color: $base0B; } // Literal.String.Double
  .sh { color: $base0B; } // Literal.String.Heredoc
  .sx { color: $base0B; } // Literal.String.Other
  .sr { color: $base0B; } // Literal.String.Regex
  .s1 { color: $base0B; } // Literal.String.Single
  .ss { color: $base0B; } // Literal.String.Symbol

  .se { color: $base09; } // Literal.String.Escape
  .si { color: $base09; } // Literal.String.Interpol

  .sd { color: $base03; } // Literal.String.Doc
  .sc { color: $base07; } // Literal.String.Char
}


.language-python .highlight .bp {
  color: $base09; // True/False
}
